@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Josefin+Sans|Playfair+Display+SC&display=swap');

body {
    font-family: 'Josefin sans', sans-serif;
    
}

.top-bound {
    margin-top: 5%!important;
}

.contact {
    padding-bottom: 4%;
}

.address {

    padding-bottom: 3%;
}
.email {
    padding-top: 7%;
    padding-bottom: 3%;
}

footer, .push {
    position: fixed;
    bottom: 0;
    width: 100%;
}

freebirdFormviewerViewFormContentWrapper {
    overflow: hidden;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}