@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Josefin+Sans|Playfair+Display+SC&display=swap');

body {
    font-family: 'Josefin sans', sans-serif;
}

.top-bound {
    margin-top: 10%;
}

strong {
    font-weight: 600;
}

h1 {

    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 2.4em;
}

#timeline-content {
    margin-top: 50px;
    text-align: center;
}

.timeline {
    border-left: 4px solid black;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 0.8rem!important;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 60%;
    margin-right: 0;
}

.timeline h1 {

    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {

    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.2em;
}
.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -217.5px;
    color: black;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;

}

.timeline .event:after {
    box-shadow: 0 0 0 4px black;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

.timeline {
    display: none;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .timeline h1, .timeline h3 {
        font-size: 1.4em;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .timeline h1, .timeline h3 {
        font-size: 1.8em;
    }
}