body {
    font-family: 'Josefin sans', sans-serif;
}
.top-bound {
    margin-top: 30%!important;
}
a {
   color: #343a40;
    transition: all 0.4s;
}
a:hover {
    transition: all 0.4s;
    color: darkgoldenrod!important;
}


@media (min-width: 576px) {

    .top-bound {
        margin-top: 20%!important;
    }
}

@media (min-width: 768px) {
    .top-bound {
        margin-top: 10%!important;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}